.Commands {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Run_code button,
.Undo_Code button,
.Reset_Code button {
  text-align: center;
  margin: 50px 10px;
  outline: none;
  background-color: #2D3436;
  border: none;
  padding: 0px;
  border-radius: 50%;
  font-size: 20px;
  font-family: var(--font-fam);
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
