@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

#root {
  display: block;
}
.mainpage {
  background-color: #2d3436;
  padding: 0 40px;
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
}
.nav {
  margin: 40px 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-mainpage-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav .profileImage {
  width: 100px;
  border-radius: 50%;
  margin: 0 40px;
}
.nav .medalImage {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.nav p {
  margin: 10px;
  font-size: 20px;
}

.nav button {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Rajdhani', sans-serif;
  background-color: #00b894;
  color: #dfe6e9;
  cursor: pointer;
}

.mainpage-main-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.mainpage-main-container .mainpage-robot {
  height: 45vh;
  width: 25%;
}

.mainpage-main-container .mainpage-description {
  width: 20%;
  height: 45vh;
  line-height: 1.5;
  font-size: 24px;
}

.mainpage-main-container .mainpage-slides {
  width: 40%;
  height: 90%;
  padding-top: 30px;
  padding-left: 50px;
}

.level {
  width: 20rem;
  height: 50vh;
  background-color: #487eb0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
}
.level img {
  margin-left: 20px;
}

.level:hover {
  transform: scale(1.01, 1.01);
  border-radius: 5%;
  transition: 0.2s ease-in;
}

.lockedlevel {
  width: 20rem;
  height: 50vh;
  background-color: #487eb0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
}
.lockedlevel img {
  margin-left: 20px;
}
.lockedlevel:hover {
  transform: scale(1.01, 1.01);
  border-radius: 5%;
  transition: 0.2s ease-in;
}

.slider-controller {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.slider-arrow {
  cursor: pointer;
}
.slider-controler .slider-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media screen and (max-width: 480px) {
  .mainpage-main-container {
    flex-direction: column;
  }
}
