@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

#root {
  display: block;
}
.mainpage {
  background-color: #2d3436;
  padding: 0 50px;
}
.nav {
  margin: 40px 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
}

.left-mainpage-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav .profileImage {
  width: 100px;
  border-radius: 50%;
  margin: 0 40px;
}
.nav .medalImage {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.nav p {
  margin: 10px;
  font-size: 20px;
}

.nav button {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Rajdhani', sans-serif;
  background-color: #00b894;
  cursor: pointer;
}

.mainpage-main-container {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainpage-main-container > div {
  width: 30%;
}
.level {
  width: 100px;
  background-color: #487eb0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
