@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.game-page-container {
  /* background-color: #2d3436; */
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
  min-height: 100vh;
}

.Buttons-Codespace--Actions {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 65%;
}
.Buttons-Codespace {
  background-color: var(--Buttons-Codespace-background);
  margin: 5px;
  border-radius: 10px;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canvasout {
  display: flex;
  flex-direction: column;
}

.actions-bg-size button {
  width: 177px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00b894;
  color: #dfe6e9;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.actions-bg-size {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  min-width: 40vw;
  max-width: 55vw;
  border-radius: 5px;
  /* background-color: #636e72; */
}

.actions-sm-size button {
  width: 177px;
  height: 50px;
  margin: 0px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00b894;
  color: #dfe6e9;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.actions-sm-size {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 220px;
  min-width: 45vw;
  max-width: 50vw;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #636e7263;
  /* background-color: #636e72; */
}

#option {
  width: 177px;
  height: 50px;
  font-size: 20px;
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e84118;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.exit {
  display: flex;
  align-items: flex-start;
  padding: 30px;
}

.exitbtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #f5f6fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.modal-container {
  padding: 40px;
  background-color: #2d3436;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-family: 'Rajdhani', sans-serif;
}

.modal-container h2 {
  font-size: 30px;
  margin: 30px 0px;
}
.modalBtn {
  outline: none;
  border: none;
  padding: 15px 25px;
  background: #00b894;
  color: #fff;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .game-page-container {
    flex-direction: column;
    padding: 0;
  }
  .Buttons-Codespace--Actions {
    width: 90vw;
    margin-left: 30px;
  }
  /* .Buttons-Codespace {
    } */
}

@media only screen and (max-width: 375px) {
  .Buttons-Codespace--Actions {
    margin-left: 20px;
  }
}
