@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body {
    background-color: #2D3436;
}
.mainHome {
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
    width: 500px;
}


.text p {
    font-size: 50px;
    color: #f5f6fa;
    font-family: 'Rajdhani', sans-serif;
}