@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    background-color: #2D3436;
}
.mainHome {
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.mainHome h1{
    font-family: 'Wendy One', sans-serif;
    font-size: 225px;
    color: #dfe6e9;
    opacity: 50%;
}

.mainHome img{
    position: absolute;
    margin-top: 200px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.line {
   margin: 0px 50px;
   height: 20px;
   width: 200px; 
   background-color: #dfe6e9;
   opacity: 50%;
}
.foot p {
    font-size: 100px;
    color: #dfe6e9;
    opacity: 50%;
    font-family: 'Wendy One', sans-serif;
}

.redbot {
    position: absolute;
    color: #dfe6e9;
    top: 300px;
    left: -30px;
    background-color: #00B894;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 23px;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.redbot:hover {
    position: absolute;
    top: 300px;
    left: -30px;
    background-color: #00B894;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 23px;
    height: 60px;
    width: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.greenbot {
    position: absolute;
    top: 400px;
    left: -30px;
    color: #dfe6e9;
    background-color: #00B894;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 23px;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.greenbot:hover {
    position: absolute;
    top: 400px;
    left: -30px;
    background-color: #00B894;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 23px;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.yellowbot {
    position: absolute;
    top: 500px;
    left: -30px;
    color: #dfe6e9;
    background-color: #00B894;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 23px;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.yellowbot:hover {
    position: absolute;
    top: 500px;
    left: -30px;
    background-color: #00B894;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 23px;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}