@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding: 60px 190px;
} 
.logo img {
    cursor: pointer;
}  
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0px 100px;
    color: #DFE6E9;
    opacity: 50%;
    font-size: 22px;
}
.nav1 p {
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
}
.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0px 100px;
    color: #DFE6E9;
    opacity: 50%;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
}
.nav2 p {
    cursor: pointer;
}

.active {
    text-decoration: underline #55efc4 2px;
    color: #DFE6E9;
    background-size: 100% 0.1em, 0 0.1em;
}

.active:hover {
    color: #ffffff;
    text-decoration: underline #55efc4 2px;
}