.codeSpace {
  text-align: center;
  background-color: #B2BEC3;
  margin: 10px;
  border-radius: 5px;
  width: 600px;
  color: var(--code-space-color);
  width: 100%;
  overflow-y: scroll;
  height: 70vh;
}
