.codeSpace {
    text-align: center;
    background-color: var(--code-space-background);
    margin: 10px;
    border-radius: 10px;
    width: 600px;
    color: var(--code-space-color);
    width: 100%;
  }
  